<section>
  <img src="assets/images/banner.png" alt="Banner Image" />

  <div class="main-content">
    <h1 class="mt-2">Explore amazing content</h1>

    <a type="button" class="btn btn-lg btn-secondary mt-2">Courses</a> &nbsp;
    <a type="button" class="btn btn-lg btn-primary mt-2 template">Templates</a>
  </div>
</section>

<section class="courses">
  <div class="container">
    <h1 class="text-center">All Courses</h1>
    <app-courses></app-courses>
  </div>
  <div class="container">
    <app-about></app-about>
  </div>
</section>
